body {
  background-color: #c4dfe6!important;
}
.navbar-icon {
    margin-left: 20px; 
  }
  .carousel-item {
    height: 600px; 
  }
  .carousel img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .carousel-inner .carousel-item {
    transition-duration: 0.2s; 
  }
  .container img
  {
    height:100%;
    width:100%;
    object-fit:cover;
  }
  ul {
    list-style-type: none;
}
#countdown {
  text-align: center;
  font-size: 24px;
}

#timer {
  display: inline-block;
}
.container {
  text-align: center;
  padding: 20px;
}

button {
  margin-top: 10px;
}

#countdown {
  font-size: 24px;
  margin-top: 20px;
}


#todo-container h2 {
  text-align: center;
}

#todo-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#todo-container li {
  background-color: white ;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d4d4d4;
  position: relative;
  cursor: pointer;
}

#todo-container li.checked {
  background-color: white;
  color: white;
  text-decoration: line-through;
}

#todo-container .addBtn {
  background-color: #07575b  ;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

#todo-container input[type="text"] {
  padding: 10px;
  width: 70%;
  border: none;
  border-bottom: 2px solid #4CAF50;
  font-size: 16px;
}

#todo-container input[type="text"]:focus {
  outline: none;
}
.card-gif {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.card-gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-btn {
  background-color: #07575b ;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  text-align: left;
  outline: none;
  transition: background-color 0.3s;
}

.accordion-content {
  display: none;
  padding: 18px;
  border-top: 1px solid #ddd;
}

.accordion-btn.active, .accordion-btn:hover {
  background-color: #07575b ;
}
#animateMe {
  position: absolute;
  left: 0;
  transition: opacity 1s, transform 1s;
}


.carousel-item {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-item.active {
  transform: translateX(0); 
  opacity: 1;
}

.game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.category-column, .dish-column {
  flex: 1;
  text-align: center;
}

.droppable {
  background-color: #f0f0f0;
  border: 2px dashed #777;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.draggable {
  background-color: #ddd;
  border: 2px solid #777;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.container .btn-primary {
  background-color: #07575b;
  border-color: #07575b;
  color: #fff; 
}
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.list-group-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
*{ font-family: 'Consolas', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }
#instructions {
  border: 2px solid #07575b;
  padding: 10px; 
  text-align: center;
  }
  

